# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# jest
coverage

# logs
logs
*.log

# exclodes
node_modules
dist
config.json
teleportpoints.json
